$color-background: #FFFFFF;
$color-search-background: #EBEBEB;
$color-search-background-opacity: rgba(235, 235, 235, 0.3);
$search-radius: 22px;
$search-opacity: 30%;
$notification-color: #FF0000;
$color-description: #30384C;
$color-name: #19202C;
$color-swiper-button: rgba(0, 0, 0, 1);
$color-video-duration: rgba(0, 0, 0, 0.3);
$color-subtitle: #C2C2C2;
$color-aside: #898989;
$color-dot: rgba(33, 150, 243, 1);
$color-video-section-button: rgba(25, 38, 70, 1);
$mobile: 320px;