@import '/src/scss/mixins.scss';
@import '/src/scss/constants.scss';

.header-container {
  @include flex-center;
  justify-content: space-between;
  height: 7vh;
  background: $color-background;
  padding-top: 1.25rem;
  padding-left: 1.67vw;
  padding-right: 3.65vw;
}

.logo-container {
  @include flex-center;
  gap: 1.46vw;

  button {
    @include icon;
  }
}

.search-container {
  flex: 1;
  @include flex-center;
  margin-left: 3.75rem;

  input[type="text"] {
    width: 100%;
    max-width: 830px;
    background: $color-search-background;
    opacity: $search-opacity;
    border: none;
    border-radius: $search-radius;
    padding: 0.75rem 1.25rem;
    @include font($color: #30384C, $opacity: 40%);

    &::placeholder {
      @include font($color: #30384C);
    }
  }

  button {
    @include flex-center;
    @include icon;
    margin-left: -2.5rem;
  }
}

.user-actions {
  @include flex-center;
  gap: 3.125rem;
  margin-left: 3.75rem;

  button {
    @include icon;
  }

  button:nth-child(3) {
    position: relative;

    .notification-badge{
      position: absolute;
      @include flex-center;
      justify-content: center;
      top: -0.5rem;
      right: -0.5rem;
      background: $notification-color;
      @include font($font-size: 12px, $font-weight: 700, $color: #FFFFFF);
      border: 1px solid #FFFFFF;
      border-radius: 50%;
      width: 1.125rem;
      height: 1.125rem;
    }
  }

  button:nth-child(4) {
    img {
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 50%;
    }
  }
} 